/*############ CATEGORIAS #############*/

.cat-titulo h2 {
    color: map-get($titulos,colorSecundario);
    letter-spacing: map-get($titulos,letterSpacing);
    margin-top: 20px;
    padding: 4px;

}

#cpugamer{
    padding-top: 130px;
}

#perifericos{
    padding-top: 130px;
}

#consolas{
    padding-top: 130px;
}

#placasvideo{
    padding-top: 130px;
}

#pcgamers{
    padding-top: 130px;
}

#rams{
    padding-top: 130px;
}

.cat-titulo .linea {
    position: relative;
    z-index: 1;
}

.cat-titulo .linea:before {
    border-top: 2px solid #790f83;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    z-index: -1;
}

.cat-titulo .linea span {
    background: #fff;
    padding: 0 15px;

}

.categorias {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .categorias img {
    width: 100%;
    position: absolute;
    transition: all 0.3s;
  }
  
  .categorias-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
    border: solid 4px;
    border-top-color: #8c284e;
    border-left-color: #8c284e;
    border-right-color: #564892;
    border-bottom-color: #564892;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }
  
  .hover-cat::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #a407b3;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    transition: all 0.3s;
    z-index: 999;
  }
  
  .text-hover {
    color: map-get($titulos, colorPrimario);
  }
  
  .text-hover:hover {
    color: #a407b3;
  }
  
  .hover-cat-title {
    position: absolute;
    transition: all 0.3s;
    z-index: 99;
    width: 176px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -21px 0 0 -85px;
  
    @include portatil {
      font-size: 1.2rem;
      margin: -11px 0 0 -88px;
      
    }
  
    @include portatil2 {
      font-size: 1.6rem;
      margin: -11px 0 0 -88px;
    }
  
    @include tablet {
      font-size: 1.3rem;
      margin: -11px 0 0 -88px;
    }
  
    @include celular {
      font-size: 1.7rem;
      margin: -11px 0 0 -88px;
    }
  
  }
  
  .hover-cat-title span {
    transition: all 0.4s;
    opacity: 0;
    color: #a407b3;
  }
  
  .hover-cat:hover .categorias-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .hover-cat:hover .hover-cat-title a {
    bottom: 0;
  }
  
  .hover-cat:hover .hover-cat-title span {
    opacity: 1;
  }
  
  .hover-cat:hover::after {
    bottom: 0;
  }
/*############ Fin Categorias#############*/

/*############ Inicio Producto Destacado #############*/

.site-destacado {
    background-image: url(../img/destacado/fondodestacado.jpg);
    margin-top: 40px;
}

.img-destacado{
    border: 1px solid #322749;
    transition: transform .2s; /* Animation */
}

.img-destacado:hover {
    overflow: hidden;
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/*############ Fin de Producto Destacado #############*/