.productos {
    margin-bottom: 50px;

    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 255px;
        height: 350px;
        border: 1px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #a2a2a21a 0%, #a2a2a2 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #a2a2a21a 0%, #a2a2a2 100%);
        border-image: linear-gradient(to bottom, #a2a2a21a 0%, #a2a2a2 100%);
        border-image-slice: 1;
        text-align: center;

        & h4 {
            font-size: 1rem;
            color: black;
        }

        &--etiquetas{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    &__img {
        width: 191px;
        height: 183px;
    }

    &__precio{
        background-image: url(../img/productos/precio.png);
        width: 126px;
        height: 48px;
        text-align: center;
        padding-top: 10px;
        font-size: 1.1rem;
        color: white;
    }

    &__carrito{
        background-image: url(../img/productos/carrito.png);
        width: 85px;
        height: 31px;
        text-align: center;
        padding-top: 8px;
        padding-right: 17px;
        font-size: 0.8rem;
        color: white;

        & a{
            color: white;
            text-decoration: none;

            &:hover{
                color: rgb(0, 0, 0);
            }
        }
    }
}

/*############ Fin Productos #############*/